#nav {
    background-color: #0D3451;
  }

  #service{
    background-color: #0D3451;
  }

  #testimonial{
    background-color: #0D3451;
  }

#home{
  background-color: white;
  color: black;
  
}

#genex{
  color: #0D3451;
}

#subscribe{
  background-color: #0D3451;
}